In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from dataset import Dataset
# for Notebook
%matplotlib inline
%load_ext autoreload
%autoreload 2

# Dataset Creation
Import data into a pandas dataframe using the created class Dataset

In [2]:
ds = Dataset()
files = os.listdir(ds.base_path+"/data/")
ds.createDataset(files)

/home/wiz/Git/LFN-Project/dataset.py:34: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  mob_df = pd.read_csv(mobility_csv, sep=";")
/home/wiz/Git/LFN-Project/dataset.py:34: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  mob_df = pd.read_csv(mobility_csv, sep=";")
/home/wiz/Git/LFN-Project/dataset.py:34: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  mob_df = pd.read_csv(mobility_csv, sep=";")
/home/wiz/Git/LFN-Project/dataset.py:34: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  mob_df = pd.read_csv(mobility_csv, sep=";")

Show created dataframe

In [3]:
ds.df.columns

Index(['Project Reference', 'Academic Year', 'Mobility Start Month',
       'Mobility End Month', 'Mobility Duration', 'Activity (mob)',
       'Field of Education', 'Participant Nationality', 'Education Level',
       'Participant Gender', 'Participant Profile', 'Special Needs',
       'Fewer Opportunities', 'GroupLeader', 'Participant Age',
       'Sending Country Code', 'Sending City', 'Sending Organization',
       'Sending Organisation Erasmus Code', 'Receiving Country Code',
       'Receiving City', 'Receiving Organization',
       'Receiving Organisation Erasmus Code', 'Participants'],
      dtype='object')

Now we apply the cleanup pre-processing onto the dataframe, in which we also filter the columns we need

In [9]:
# Select only needed for the analysis 
ds.applyPreprocessing(columns=["Mobility Duration", "Sending Country Code", "Receiving Country Code",
                               "Special Needs", "Fewer Opportunities", "Participant Profile",
                               "Sending Organization", "Receiving Organization", "Receiving Organisation Erasmus Code",
                               "GroupLeader", "Sending Organisation Erasmus Code", "Education Level"])

# Remove all NaN values
ds.cleanDataframe()

Restored 0 columns
Removed 1 columns
Removed 0 rows

In [33]:
ds.df

,Mobility Duration,Sending Country Code,Receiving Country Code,Special Needs,Fewer Opportunities,Participant Profile,Sending Organization,Receiving Organization,Receiving Organisation Erasmus Code,GroupLeader,Sending Organisation Erasmus Code,Education Level
0,1.0,AT,AT,No,Yes,Learner,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,-,No,-,??? - ? Unknown ?
1,1.0,AT,AT,No,Yes,Learner,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,-,No,-,??? - ? Unknown ?
2,1.0,AT,AT,No,Yes,Learner,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,-,No,-,??? - ? Unknown ?
3,1.0,AT,AT,No,Yes,Learner,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,-,No,-,??? - ? Unknown ?
4,1.0,AT,AT,No,Yes,Learner,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,bOJA - Bundesweites Netzwerk Offene Jugendarbeit,-,No,-,??? - ? Unknown ?
...,...,...,...,...,...,...,...,...,...,...,...,...
736429,7.0,UK,UK,No,Yes,Staff,YOUTH INNOVATION LTD,YOUTH INNOVATION LTD,-,Yes,-,??? - ? Unknown ?
736430,7.0,UK,UK,No,Yes,Staff,YOUTH INNOVATION LTD,YOUTH INNOVATION LTD,-,Yes,-,??? - ? Unknown ?
736431,7.0,UK,UK,No,Yes,Staff,YOUTH INNOVATION LTD,YOUTH INNOVATION LTD,-,No,-,??? - ? Unknown ?
736432,7.0,UK,UK,No,No,Staff,YOUTH INNOVATION LTD,YOUTH INNOVATION LTD,-,No,-,??? - ? Unknown ?
736433,7.0,UK,UK,No,Yes,Staff,YOUTH INNOVATION LTD,YOUTH INNOVATION LTD,-,No,-,??? - ? Unknown ?

Filter Data

In [6]:
# Select only the eramus students researchers from Italy
ds.applyFilter(column="Sending Country Code", value="IT")
# Select only students currently under bachelor degree
ds.applyFilter(column="Education Level", value="ISCED-7", criterion='contains')

KeyError: 'Education Level'

The resulting dataframe becomes

In [5]:
ds.df

,Sending Organization,Receiving Organization,Participants,Sending Country Code,Receiving Country Code
1701,PRIVATE PÄDAGOGISCHE HOCHSCHULE - HOCHSCHULSTI...,ABO AKADEMI,1,AT,FI
1702,PRIVATE PÄDAGOGISCHE HOCHSCHULE - HOCHSCHULSTI...,MALMOE HOEGSKOLA (MALMOE UNIVERSITY),2,AT,SE
1733,IMC FACHHOCHSCHULE KREMS GMBH,HASKOLINN A BIFROST,1,AT,IS
1734,IMC FACHHOCHSCHULE KREMS GMBH,LAUREA-AMMATTIKORKEAKOULU OY,1,AT,FI
1735,IMC FACHHOCHSCHULE KREMS GMBH,METROPOLIA AMMATTIKORKEAKOULU OY,1,AT,FI
...,...,...,...,...,...
716937,UNIVERSITY COLLEGE LONDON,FEDERAL STATE AUTONOMOUS EDUCATIONAL INSTITUTI...,1,UK,RU
716938,HEBRON UNIVERSITY,UNIVERSITY OF BRADFORD,1,PS,UK
716939,HEBRON UNIVERSITY,UNIVERSITY OF BRADFORD,1,PS,UK
716940,HEBRON UNIVERSITY,UNIVERSITY OF BRADFORD,3,PS,UK
716984,ECOLE NATIONALE POLYTECHNIQUE ALGER,UNIVERSITY OF THE WEST OF SCOTLAND,1,DZ,UK

# Graph creation
We can now go ahead and create our graph, again using the Dataset class

In [6]:
from graph import CustomGraph as Graph

In [35]:
CountryGraph = Graph()
# every node will correspond to a country
CountryGraph.addCountryNodes(ds.getCountryNodes())

UniNodes = Graph()
# every node will correspond to a University
UniNodes.addUniversityNodes(ds.getUniversitiesNodes())

In [12]:
ds.getUniversitiesNodes().size
ds.getCountryNodes().size

153

Add the weighted edges

In [61]:
import networkx as nx
import pandas as pd
edges = pd.DataFrame({"source" : ds.df["Sending Country Code"],
                      "target" : ds.df["Receiving Country Code"],
                      "weight" : ds.df["Participants"]
                         })
CountryGraph = nx.from_pandas_edgelist(edges, "source", "target", "weight", nx.DiGraph())

In [ ]:
# Code to visualize ten nodes of the graph with their edges
#nodes = list(CountryGraph.nodes())
#first_10_nodes = nodes[:10]
#G = nx.subgraph(CountryGraph, first_10_nodes)
#nx.draw_networkx_edges(G,pos=nx.spring_layout(CountryGraph))
#nx.draw_networkx_edge_labels(G,pos=nx.spring_layout(CountryGraph))

In [ ]:
# Code to visualize the graph with PYVIS tool
#from pyvis.network import Network
#net = Network(directed=True)
#net.from_nx(CountryGraph)
#net.show("example.html")

In [37]:
import networkx as nx
import pandas as pd
edges = pd.DataFrame({"source" : ds.df["Sending Organization"],
                      "target" : ds.df["Receiving Organization"],
                      "weight" : ds.df["Participants"]
                         })
UniNodes = nx.from_pandas_edgelist(edges, "source", "target", "weight", nx.DiGraph())

In [51]:
# example of the result with UNIVERSITA DI PADOVA
print("Sum of the exiting participants: ", sum(e[2]['weight'] for e in UniNodes.out_edges("UNIVERSITA DEGLI STUDI DI PADOVA", data=True)))
print("Total Neighbors:",UniNodes.degree(("UNIVERSITA DEGLI STUDI DI PADOVA")))
print("Out Degree:", UniNodes.out_degree("UNIVERSITA DEGLI STUDI DI PADOVA"))
print("In Degree:", UniNodes.in_degree("UNIVERSITA DEGLI STUDI DI PADOVA"))

Sum of the exiting participants:  608
Total Neighbors: 1147
Out Degree: 587
In Degree: 560

# PageRank
implementation from Networkx library

In [48]:
pagerank_scores = nx.pagerank(UniNodes, weight='weight')
print(pagerank_scores["UNIVERSITA DEGLI STUDI DI PADOVA"])

0.0025460619521710873

In [63]:
pagerank_scores = nx.pagerank(CountryGraph, weight='weight')
print(pagerank_scores["IT"])

0.025102665628274453